現在全部跑完會把 drinks, categories, stores 這三張表填完、然後那六張 aggregate 的也會生出各十筆 <br>
需要更多的就改一下 for

In [50]:
# !pip install psycopg2-binary 
import psycopg2
import pandas as pd
import datetime
import random

In [51]:
def query(q):
    try:
        conn = psycopg2.connect(
            host="localhost",
            database="comebuy_db",
            port='5432',
            user="dev",
            password="dev")
        cursor = conn.cursor()
        cursor.execute(q)
        cursor.close()
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print('err', error)
def query2(q,s):
    try:
        conn = psycopg2.connect(
            host="localhost",
            database="comebuy_db",
            port='5432',
            user="dev",
            password="dev")
        cursor = conn.cursor()
        cursor.execute(q,s)
        cursor.close()
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print('err', error)
def select(q):
    try:
        conn = psycopg2.connect(
            host="localhost",
            database="comebuy_db",
            port='5432',
            user="dev",
            password="dev")
        cursor = conn.cursor()
        cursor.execute(q)
        r = cursor.fetchall()
        cursor.close()
        conn.commit()
        return(r)
    except (Exception, psycopg2.DatabaseError) as error:
        print('err', error)

In [52]:
# 要讀他們給的那個檔
df = pd.read_excel('台大專案-菜單.xlsx')
display(df)

    原葉鮮萃茶\nTEAPRESSO                             (16支)       鮮萃大麥紅茶
0                                                  NaN           海神
1                                                  NaN           玩火
2                                                  NaN          四季春
3                                                  NaN         烏龍綠茶
4                                                  NaN          碧螺春
..                                                 ...          ...
153                                                NaN      BTS杯Jin
154                                                NaN       BTS杯整組
155                                                NaN      20週年環保瓶
156                                                NaN  20週年半截式提袋-白
157                                                NaN      Woky保溫杯

[158 rows x 2 columns]

In [14]:
pip install openpyxl

Active code page: 65001
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 kB 1.1 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [53]:
# 整理出飲料全品項
drinks = df['鮮萃大麥紅茶'].dropna().to_list()
drinks.insert(0, '鮮萃大麥紅茶')
drinks = drinks[:-40]

In [54]:
l = ['珍珠','小紫蘇','新雙Q','椰果','雙Q條','粉條','小芋圓','愛玉風味凍','搖果樂',
     '蘆薈','寒天晶球','荔枝凍','仙草凍','布丁','紫米','檸檬','鮮奶','新雙Q (珍珠+芋圓+薯圓)',
     '雙Q條 (珍珠+粉條)', '小芋圓(芋圓+薯圓)', '搖果樂(珍珠+椰果+荔枝凍)', '愛玉', '紫米 (冬季限定)', '迷你珍珠', '鬥陣']
for i in l:
    if i in drinks:
        drinks.remove(i)

In [55]:
# 飲料的 category 進 table
q = '''INSERT INTO categories (name)
    VALUES ('原葉鮮萃茶'),
       ('鮮萃茶拿鐵'),
       ('奶茶/特調'),
       ('鮮調果茶'),
       ('果然系列'),
       ('特調咖啡'),
       ('研磨咖啡'),
       ('湛盧咖啡'),
       ('夏季季節限定'),
       ('冬季季節限定'),
       ('隱藏商品'),
       ('冷泡茶');'''
query(q)

In [56]:
# 把飲料存進 table
for i in drinks[:16]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 1, 1);'''
    s = {'drink': i}
    query2(q, s) 
for i in drinks[16:20]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 2, 1);'''
    s = {'drink': i}
    query2(q, s) 
for i in drinks[20:37]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 3, 1);'''
    s = {'drink': i}
    query2(q, s) 
for i in drinks[37:48]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 4, 1);'''
    s = {'drink': i}
    query2(q, s) 
for i in drinks[48:54]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 5, 1);'''
    s = {'drink': i}
    query2(q, s) 
for i in drinks[54:55]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 6, 1);'''
    s = {'drink': i}
    query2(q, s)    
for i in drinks[55:59]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 7, 1);'''
    s = {'drink': i}
    query2(q, s) 
for i in drinks[59:62]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 8, 1);'''
    s = {'drink': i}
    query2(q, s)  
for i in drinks[62:68]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 9, 1);'''
    s = {'drink': i}
    query2(q, s) 
for i in drinks[68:76]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 10, 1);'''
    s = {'drink': i}
    query2(q, s)  
for i in drinks[76:91]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 11, 1);'''
    s = {'drink': i}
    query2(q, s) 
for i in drinks[91:94]:
    q = '''insert into drinks (name, category, status)
            values (%(drink)s, 12, 1);'''
    s = {'drink': i}
    query2(q, s)

In [57]:
print(len(drinks))

91

In [58]:
stores = {
  "北區": {
    "新北市": {
      "新店區": [
        "新店光明店",
        "新店中正(研磨咖啡)店",
        "新店大豐店"
      ],
      "三重區": [
        "三重自強店",
        "三重長壽店",
        "三重溪尾店",
        "三重文化店",
        "三重五華店",
        "三重中華店",
        "三重大同店",
        "三重力行(研磨咖啡)店"
      ],
      "板橋區": [
        "板橋文德店",
        "板橋華興店",
        "板橋民治店",
        "板橋中正店",
        "板橋民生店",
        "亞東科大店",
        "板橋松柏店",
        "板橋遠百店",
        "亞東醫院店",
        "板橋重慶店",
        "板橋四雅店"
      ],
      "三峽區": [
        "三峽光明店",
        "三峽北大店"
      ],
      "淡水區": [
        "淡水沙崙店",
        "淡水中正店",
        "淡水竹圍店",
        "淡水北新店"
      ],
      "泰山區": [
        "泰山全興店",
        "泰山明志店"
      ],
      "樹林區": [
        "樹林太元店",
        "樹林博愛店",
        "樹林金門店",
        "新北樹林店"
      ],
      "汐止區": [
        "汐止大同店",
        "汐止忠孝店"
      ],
      "林口區": [
        "林口文化店"
      ],
      "八里區": [
        "八里中山店"
      ],
      "蘆洲區": [
        "蘆洲信義店",
        "蘆洲復興(研磨咖啡)店",
        "蘆洲長安店"
      ],
      "五股區": [
        "五股新成泰(研磨咖啡)店"
      ],
      "深坑區": [
        "深坑埔新店"
      ],
      "土城區": [
        "土城延吉店",
        "土城光明店"
      ],
      "新莊區": [
        "新莊西盛店",
        "新莊新泰店",
        "新莊化成(研磨咖啡)店",
        "新莊福壽店",
        "新莊化成店",
        "新莊中和店",
        "新莊輔大店",
        "輔大文園店",
        "新莊新莊(研磨咖啡)店",
        "新莊中港(研磨咖啡)店",
        "新莊後港店"
      ],
      "永和區": [
        "永和民生店",
        "永和頂溪店",
        "永和得和店"
      ],
      "中和區": [
        "中和南山(研磨咖啡)店",
        "中和大勇店",
        "中和宜安店",
        "中和民安店",
        "中和遠東廣場店",
        "中和南華店",
        "中和環球店",
        "中和中山店",
        "中和民享店",
        "中和中安店"
      ]
    },
    "基隆市": {
      "安樂區": [
        "基隆安一店"
      ],
      "暖暖區": [
        "基隆暖暖店"
      ],
      "七堵區": [
        "基隆七堵店"
      ],
      "仁愛區": [
        "基隆廟口(研磨咖啡)店"
      ],
      "中正區": [
        "基隆新豐店",
        "基隆海洋店"
      ]
    },
    "桃園市": {
      "桃園區": [
        "桃園桃鶯店",
        "桃園中山店",
        "桃園寶山店",
        "桃園中正店"
      ],
      "八德區": [
        "八德福國店",
        "八德義勇店"
      ],
      "大園區": [
        "大園菓林店",
        "大園中正東店"
      ],
      "楊梅區": [
        "楊梅大成店",
        "楊梅文化店",
        "桃園埔心(研磨咖啡)店"
      ],
      "龜山區": [
        "龜山德明店",
        "林口長庚店",
        "林口復興(研磨咖啡)店",
        "桃園迴龍店"
      ],
      "觀音區": [
        "觀音成功店"
      ],
      "大溪區": [
        "大溪得勝(研磨咖啡)店"
      ],
      "蘆竹區": [
        "桃園南崁店"
      ],
      "龍潭區": [
        "桃園龍潭店"
      ],
      "平鎮區": [
        "平鎮南豐店"
      ],
      "中壢區": [
        "中壢中原店",
        "中壢龍東店",
        "桃園青埔店",
        "中壢民族店",
        "中壢威尼斯店",
        "中壢 sogo (研磨咖啡)店"
      ]
    },
    "臺北市": {
      "松山區": [
        "新東店",
        "台北西松店",
        "慶城店",
        "新東(研磨咖啡)店"
      ],
      "信義區": [
        "台北中坡店",
        "台北永春店",
        "北醫店",
        "台北市府(研磨咖啡)店",
        "台北永吉(研磨咖啡)店"
      ],
      "大同區": [
        "台北延三店",
        "台北圓山店"
      ],
      "北投區": [
        "台北明德店",
        "石牌國中店",
        "北投吉利店",
        "北投奇岩店",
        "北投榮總(研磨咖啡)店",
        "北投溫泉(研磨咖啡)店",
        "石牌致遠(研磨咖啡)店",
        "石牌裕民店"
      ],
      "士林區": [
        "台北德行東店",
        "士林大南(研磨咖啡)店",
        "士林美崙(研磨咖啡)店",
        "台北芝山店",
        "台北天母店",
        "士林文化店",
        "社子延平店"
      ],
      "內湖區": [
        "台北江南店",
        "台北葫州店",
        "台北內湖(研磨咖啡)店",
        "西湖(研磨咖啡)店"
      ],
      "中山區": [
        "台北龍江店",
        "大直北安店",
        "台北民權西店",
        "台北復錦店",
        "林森欣欣(研磨咖啡)店",
        "台北錦州(研磨咖啡)店"
      ],
      "大安區": [
        "科技大樓店",
        "台北安居店",
        "台北科大店",
        "忠孝 sogo 店"
      ],
      "文山區": [
        "台北景興店",
        "台北木柵店",
        "景美景中店",
        "木柵世新(研磨咖啡)店"
      ],
      "中正區": [
        "台北忠孝東店",
        "台北衡陽店",
        "台北汀州店",
        "台北公館店",
        "台北南陽(研磨咖啡)店",
        "台北光華(研磨咖啡)店"
      ],
      "南港區": [
        "南港昆陽(研磨咖啡)店"
      ]
    },
    "新竹市": {
      "東區": [
        "新竹民族店"
      ],
      "北區": [
        "新竹光華(研磨咖啡)店"
      ]
    }
  },
  "南區": {
    "台南市": {
      "善化區": [
        "台南善化店"
      ]
    },
    "高雄市": {
      "三民區": [
        "高雄熱河店"
      ]
    },
    "屏東縣": {
      "屏東市": [
        "屏東林森店"
      ],
      "潮州鎮": [
        "潮州興隆店"
      ] 
    }
  },
  "中區": {
    "彰化縣": {
      "彰化市": [
        "彰化民生店"
      ]
    }
  },
  "東區": { 
    "花蓮縣": {
      "花蓮市": [
        "花蓮中山店",
        "花蓮新港店"
      ],
      "玉里鎮": [
        "花蓮玉里店"
      ] 
    },
    "宜蘭縣": {
      "宜蘭市": [
        "宜蘭舊城店",
        "宜蘭復興店",
        "宜蘭中山店"
      ],
      "羅東鎮": [
        "羅東羅商店",
        "羅東站前店",
        "羅東夜市店"
      ],
      "員山鄉": [
        "宜蘭員山店"
      ],
      "壯圍鄉": [
        "宜蘭壯圍店"
      ],
      "五結鄉": [
        "宜蘭五結店"
      ],
      "冬山鄉": [
        "宜蘭冬山店"
      ] ,
      "頭城鎮": [
        "宜蘭頭城店"
      ] ,
      "礁溪鄉": [
        "宜蘭礁溪店"
      ]  
    }
  },
  "離島": {
    "澎湖縣": {
      "馬公市": [
        "澎湖三多店",
        "澎湖中華(研磨咖啡)店",
        "澎湖中正(研磨咖啡)店"
      ]
    },
    "金門縣": {
      "金門": [
        "金門復興店"
      ]
    }
  }
}

In [59]:
sql = '''select * from regions'''
r = select(sql)
regions = {i[1]: i[0] for i in r}
sql = '''select * from counties'''
r = select(sql)
counties = {i[1]: i[0] for i in r}
sql = '''select * from districts'''
r = select(sql)
districts = {i[1]: i[0] for i in r}

In [60]:
# 把 store 存進 table 裡
for region in stores.keys():
    r = regions[region]
    for county in stores[region].keys():
        c = counties[county]
        for dist in stores[region][county].keys():
            d = districts[dist]
            for store in stores[region][county][dist]:
                sql = '''insert into stores(region, county, district, name)
                         values (%(re)s, %(co)s, %(di)s, %(st)s)
                      '''
                param = {'re':r, 'co':c, 'di':d, 'st':store}
                query2(sql, param)

In [ ]:
# first
# start_date = datetime.date(2020, 1, 1)
# end_date   = datetime.date(2023, 3, 31)
# num_days   = (end_date - start_date).days
# rand_days   = random.randint(1, num_days)
# random_date = start_date + datetime.timedelta(days=rand_days)
# print(random_date)

In [61]:
# 調整生成的時間區段 現在是集中在今年三個月 需要幾年前的就調 start_date
start_date = datetime.date(2023, 1, 1)
end_date   = datetime.date(2023, 3, 31)
num_days   = (end_date - start_date).days
rand_days   = random.randint(1, num_days)
random_date = start_date + datetime.timedelta(days=rand_days)

In [62]:
# 飲料不想這麼多種就調 id 區間
drink_id = range(1, 92)
ice_id = range(1, 8)
# 現在甜度沒考慮蜜
sweet_id = range(1, 7)
# 價格也是我隨便調的
price = range(40, 75, 5)
# 北區新北市新店區、三重區，北區基隆市全區、東區全部
a = list(range(1, 12))
b = list(range(70, 76))
c = list(range(160, 175))
a.extend(b)
a.extend(c)
store_id = a
district_id = [1, 2, 18, 19, 20, 21, 22, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]
county_id = [10, 11, 1, 4]
region_id = [1, 4]
hour = range(10, 22) # 10 代表 10:00-10:59

In [63]:
# aggregateSalesDay
amount = range(1, 5)
for i in range(1000):
   d = random.choice(drink_id)
   i = random.choice(ice_id)
   s = random.choice(sweet_id)
   st = random.choice(store_id)
   p = random.choice(price)
   a = random.choice(amount)
   rand_days = random.randint(1, num_days)
   date = start_date + datetime.timedelta(days=rand_days)
   sql = '''insert into aggregateSalesDay(store, date, drink, ice, sweet, price, amount)
            values (%(store)s, %(date)s, %(drink)s, %(ice)s, %(sweet)s, %(price)s, %(amount)s)
         '''
   param = {'store': st,
            'date': date,
            'drink': d,
            'ice': i,
            'sweet': s,
            'price': p*a,
            'amount': a}
   query2(sql, param)

In [34]:
print(len(drinks))

91

In [64]:
# aggregateSalesDayDistrict
amount = range(10, 30)
for i in range(10):
   d = random.choice(drink_id)
   i = random.choice(ice_id)
   s = random.choice(sweet_id)
   dis = random.choice(district_id)
   p = random.choice(price)
   a = random.choice(amount)
   rand_days = random.randint(1, num_days)
   date = start_date + datetime.timedelta(days=rand_days)
   sql = '''insert into aggregateSalesDayDistrict(district, date, drink, ice, sweet, price, amount)
            values (%(district)s, %(date)s, %(drink)s, %(ice)s, %(sweet)s, %(price)s, %(amount)s)
         '''
   param = {'district': dis,
            'date': date,
            'drink': d,
            'ice': i,
            'sweet': s,
            'price': p*a,
            'amount': a}
   query2(sql, param)

In [65]:
# aggregateSalesDayCounty
amount = range(50, 200)
for i in range(10):
   d = random.choice(drink_id)
   i = random.choice(ice_id)
   s = random.choice(sweet_id)
   cou = random.choice(county_id)
   p = random.choice(price)
   a = random.choice(amount)
   rand_days = random.randint(1, num_days)
   date = start_date + datetime.timedelta(days=rand_days)
   sql = '''insert into aggregateSalesDayCounty(County, date, drink, ice, sweet, price, amount)
            values (%(county)s, %(date)s, %(drink)s, %(ice)s, %(sweet)s, %(price)s, %(amount)s)
         '''
   param = {'county': cou,
            'date': date,
            'drink': d,
            'ice': i,
            'sweet': s,
            'price': p*a,
            'amount': a}
   query2(sql, param)

In [66]:
# aggregateSalesDayRegion
amount = range(150, 400)
for i in range(10):
   d = random.choice(drink_id)
   i = random.choice(ice_id)
   s = random.choice(sweet_id)
   re = random.choice(region_id)
   p = random.choice(price)
   a = random.choice(amount)
   rand_days = random.randint(1, num_days)
   date = start_date + datetime.timedelta(days=rand_days)
   sql = '''insert into aggregateSalesDayRegion(region, date, drink, ice, sweet, price, amount)
            values (%(region)s, %(date)s, %(drink)s, %(ice)s, %(sweet)s, %(price)s, %(amount)s)
         '''
   param = {'region': re,
            'date': date,
            'drink': d,
            'ice': i,
            'sweet': s,
            'price': p*a,
            'amount': a}
   query2(sql, param)

In [67]:
# aggregateSalesHour
amount = range(1, 5)
for i in range(10):
   d = random.choice(drink_id)
   i = random.choice(ice_id)
   s = random.choice(sweet_id)
   st = random.choice(store_id)
   p = random.choice(price)
   a = random.choice(amount)
   h = random.choice(hour)
   rand_days = random.randint(1, num_days)
   date = start_date + datetime.timedelta(days=rand_days)
   sql = '''insert into aggregateSalesHour(store, date, hour, drink, ice, sweet, price, amount)
            values (%(store)s, %(date)s, %(hour)s, %(drink)s, %(ice)s, %(sweet)s, %(price)s, %(amount)s)
         '''
   param = {'store': st,
            'date': date,
            'hour': h,
            'drink': d,
            'ice': i,
            'sweet': s,
            'price': p*a,
            'amount': a}
   query2(sql, param)

In [68]:
# aggregateSalesHourDistrict
amount = range(10, 25)
for i in range(10):
   d = random.choice(drink_id)
   i = random.choice(ice_id)
   s = random.choice(sweet_id)
   dis = random.choice(district_id)
   p = random.choice(price)
   a = random.choice(amount)
   h = random.choice(hour)
   rand_days = random.randint(1, num_days)
   date = start_date + datetime.timedelta(days=rand_days)
   sql = '''insert into aggregateSalesHourDistrict(district, date, hour, drink, ice, sweet, price, amount)
            values (%(district)s, %(date)s, %(hour)s, %(drink)s, %(ice)s, %(sweet)s, %(price)s, %(amount)s)
         '''
   param = {'district': dis,
            'date': date,
            'hour': h,
            'drink': d,
            'ice': i,
            'sweet': s,
            'price': p*a,
            'amount': a}
   query2(sql, param)

In [69]:
# aggregateSalesHourCounty
amount = range(50, 120)
for i in range(10):
   d = random.choice(drink_id)
   i = random.choice(ice_id)
   s = random.choice(sweet_id)
   cou = random.choice(county_id)
   p = random.choice(price)
   a = random.choice(amount)
   h = random.choice(hour)
   rand_days = random.randint(1, num_days)
   date = start_date + datetime.timedelta(days=rand_days)
   sql = '''insert into aggregateSalesHourCounty(County, date, hour, drink, ice, sweet, price, amount)
            values (%(county)s, %(date)s, %(hour)s, %(drink)s, %(ice)s, %(sweet)s, %(price)s, %(amount)s)
         '''
   param = {'county': cou,
            'date': date,
            'hour': h,
            'drink': d,
            'ice': i,
            'sweet': s,
            'price': p*a,
            'amount': a}
   query2(sql, param)

In [70]:
sql = "select * from drinks"
select(sql)

[(1, '鮮萃大麥紅茶', '1', 1),
 (2, '海神', '1', 1),
 (3, '玩火', '1', 1),
 (4, '四季春', '1', 1),
 (5, '烏龍綠茶', '1', 1),
 (6, '碧螺春', '1', 1),
 (7, '金萱茶', '1', 1),
 (8, '玫瑰普洱', '1', 1),
 (9, '茉莉烏龍', '1', 1),
 (10, '斯里蘭卡烏瓦紅茶', '1', 1),
 (11, '熟滄觀音', '1', 1),
 (12, '東方美人', '1', 1),
 (13, '文山包種', '1', 1),
 (14, '白桃蜜烏龍', '1', 1),
 (15, '洛神蜜香紅茶', '1', 1),
 (16, '桂花四季春', '1', 1),
 (17, '紅茶拿鐵', '2', 1),
 (18, '觀音拿鐵', '2', 1),
 (19, '金萱拿鐵', '2', 1),
 (20, '烏龍拿鐵', '2', 1),
 (21, '絕代雙Q奶茶', '3', 1),
 (22, '招牌奶茶', '3', 1),
 (23, '黃金奶綠', '3', 1),
 (24, '珍珠奶茶', '3', 1),
 (25, '鮮萃大麥奶茶', '3', 1),
 (26, '海神奶茶', '3', 1),
 (27, '玩火奶茶', '3', 1),
 (28, '玫瑰普洱奶茶', '3', 1),
 (29, '粉條奶茶', '3', 1),
 (30, '仙草凍奶茶', '3', 1),
 (31, '桂花奶綠', '3', 1),
 (32, '港式厚奶', '3', 1),
 (33, '觀音厚奶', '3', 1),
 (34, '經典可可', '3', 1),
 (35, '宇治抹茶', '3', 1),
 (36, '抹茶拿鐵', '3', 1),
 (37, '迷你珍珠奶茶', '3', 1),
 (38, '錫蘭紅茶', '4', 1),
 (39, '茉莉綠茶', '4', 1),
 (40, '蜂蜜紅/綠茶', '4', 1),
 (41, '玉荷冰綠', '4', 1),
 (42, '檸檬冰茶(紅/綠)', '4', 1),
 (43, '梅果茶', '4', 1),
 (44, '養樂多綠茶', '4', 1),
 (45, '百香搖果樂', '4', 1),
 (46, '蘋果冰茶', '4', 1),
 (47, '鳳梨冰茶', '4', 1),
 (48, '芭樂檸檬綠', '4', 1),
 (49, '超桔霸氣飲', '5', 1),
 (50, '蜂蜜蘆薈', '5', 1),
 (51, '金桔檸檬', '5', 1),
 (52, '荔枝玉露', '5', 1),
 (53, '纖美小紫蘇', '5', 1),
 (54, '芭樂多多', '5', 1),
 (55, '特調咖啡', '6', 1),
 (56, '莊園拿鐵(12oz/16oz)', '7', 1),
 (57, '精品招牌咖啡(12oz/16oz)', '7', 1),
 (58, '經典美式咖啡(12oz/16oz)', '7', 1),
 (59, '咖啡冰沙(16oz)', '7', 1),
 (60, '美式經典(12oz)', '8', 1),
 (61, '原味拿鐵(12oz)', '8', 1),
 (62, '咖啡冰沙(16oz)', '8', 1),
 (63, '檸檬愛玉', '9', 1),
 (64, '百香果冰沙', '9', 1),
 (65, '金芒果優酪', '9', 1),
 (66, '葡萄柚綠茶', '9', 1),
 (67, '七巧歐蕾', '9', 1),
 (68, '青檸香柚QQ', '9', 1),
 (69, '桂圓紅棗', '10', 1),
 (70, '暖薑茶', '10', 1),
 (71, '暖薑奶茶', '10', 1),
 (72, '熱檸茶', '10', 1),
 (73, '熱桔茶', '10', 1),
 (74, '紫米奶茶', '10', 1),
 (75, '紫米可可', '10', 1),
 (76, '黑糖薑汁可可', '10', 1),
 (77, '百香冰茶', '11', 1),
 (78, '蜂蜜檸檬', '11', 1),
 (79, '珍珠鮮奶', '11', 1),
 (80, '直火烏龍奶茶', '11', 1),
 (81, '檸檬觀音', '11', 1),
 (82, '檸檬原汁', '11', 1),
 (83, '檸檬多多', '11', 1),
 (84, '仙草凍拿鐵', '11', 1),
 (85, '茉莉烏龍拿鐵', '11', 1),
 (86, '四季春拿鐵', '11', 1),
 (87, '玫瑰普洱拿鐵', '11', 1),
 (88, '文山拿鐵', '11', 1),
 (89, '海神拿鐵', '11', 1),
 (90, '玩火拿鐵', '11', 1),
 (91, '大麥拿鐵', '11', 1)]

In [71]:
# aggregateSalesHourRegion
amount = range(100, 200)
for i in range(10):
   d = random.choice(drink_id)
   i = random.choice(ice_id)
   s = random.choice(sweet_id)
   re = random.choice(region_id)
   p = random.choice(price)
   a = random.choice(amount)
   h = random.choice(hour)
   rand_days = random.randint(1, num_days)
   date = start_date + datetime.timedelta(days=rand_days)
   sql = '''insert into aggregateSalesHourRegion(region, date, hour, drink, ice, sweet, price, amount)
            values (%(region)s, %(date)s, %(hour)s, %(drink)s, %(ice)s, %(sweet)s, %(price)s, %(amount)s)
         '''
   param = {'region': re,
            'date': date,
            'hour': h,
            'drink': d,
            'ice': i,
            'sweet': s,
            'price': p*a,
            'amount': a}
   query2(sql, param)